<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>admin login</h1>
    <form action="/v1/admin/login" method="post">

        <input type="text" placeholder="email" name="email" required>
        <input type="text" placeholder="password" name="password" required>
        <input type="submit">
    </form>
</body>
</html>