<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Success</title>
</head>
<body>
    <h1>Admin login Success</h1>

    <a href="/addmanager">ADD MANAGER</a>
    <br><br>
    <a href="/v1/manager/get">GET ALL MANAGER</a>

</body>
</html>